.wrapper {
  padding: 0 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
}

.input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #191919;
  width: 300px;
}

.error {
  font-weight: 600;
  color: red;
}

.btn {
  display: block;
  background-color: rgb(54, 193, 98);
  color: azure;
  width: 200px;
}
